/* input:valid {
    border-color: lightgreen;
  }
  
  input:invalid {
    border-color: red;
  }  */

  header{
    background-color: whitesmoke;

  }

  .pheader{
    float: right;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }


  html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }


  form{
    margin-left: 200px;
  }

  .box{
    width: 300px;
    height: 30px;
  }

  .createacc {
    background-color: white;
    border-style: dashed;
    border-color: grey;
    border-radius: 26px;
    font-size: 20px;
    color: grey;
    width: 200px;
    height: 50px;
  }

  .register{
    display: flex;
  }

.register-google{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(64, 179, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  width: 300px;
  height: 50px;
}

.register-google p{
  margin-left: 10px;
  margin-right: 70px;
  font-size: 19px;
}

.register-google img{
  margin-left: 4px;
}

.register-github{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323130;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  width: 300px;
  height: 50px;
  margin-left: 10px;
}

.register-github p{
  margin-left: 10px;
  margin-right: 70px;
  font-size: 19px;
}

.register-github img{
  margin-left: 15px;
  width: 25px;
  height: 25px;
}
